VITE_BACKEND_TYPE=sharepoint
VITE_SP_SITE_URL={{SP_SITE_URL}}
VITE_SP_LISTS={{SP_LISTS}}
VITE_SP_CONNECTION_ID=

VITE_O365U_ENABLED={{O365U_ENABLED}}
VITE_O365U_CONNECTION_ID=

VITE_OUTLOOK_ENABLED={{OUTLOOK_ENABLED}}
VITE_OUTLOOK_CONNECTION_ID=

VITE_APP_ID=
VITE_PP_ENVIRONMENT_ID={{PP_ENVIRONMENT_ID}}
VITE_APP_ENV_LABEL={{ENV_LABEL}}
VITE_APP_DISPLAY_NAME={{APP_DISPLAY_NAME}}
